.navbar {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
.abc {
  right: 0;
  left: 0;
  position: fixed;
  top: 0;
}
.change-nav {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-header {
  right: 0;
  left: 0;
  position: fixed;
  top: 0;
}
.change-nav-item {
  padding: 0 20px 0 20px;
  display: inline;
}
.change-nav-item .active {
  color: white;
  font-weight: bold;
  border-bottom: 4px solid #0a991d;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: black;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}
.change-nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
}
.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  padding: 0 20px 0 20px;
  display: inline;
}
.change-nav-item:after {
  color: none;
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-item:after {
  color: none;
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.change-nav-item:hover:after {
  width: 100%;
  color: none;
}
.nav-item:hover:after {
  width: 100%;
  color: none;
}
.nav-item .active {
  color: black;
  font-weight: bold;
  border-bottom: 4px solid #0a991d;
}
.nav-icon {
  display: none;
}
a,
a.change-nav-link:hover,
a.change-nav-link:focus,
a.change-nav-link:active {
  color: white;
}
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    padding: 0;
    background-color: black;
    color: white;
    border-bottom: 3px solid transparent;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 18px;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: white;
    font-weight: bold;
    border-bottom: 4px solid #0a991d;
  }
  .nav-links {
    color: white;
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #0a991d;
  }
}
.servi-logo {
  width: 13%;
}
